@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 25px 25px 15px 25px;
}

.toolbar h1 a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #172b4d;
} 
.toolbar .nav-item {
  display: none;
}
.toolbar nav .fa-bars {
  font-size: 20px;
  margin-right: 10px;
}

.headline {
  background-image: url(photo/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 24px;
  height: 726px;
  gap: 58px;
}

.headline .primary h1,
p {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.headline .primary p {
  color: #36b37f;
}

.supporting-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.headline .social-media-icon {
  width: 174px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.headline .social-media-icon li {
  text-decoration: none;
  list-style: none;
}

.headline .social-media-icon li img {
  width: 19.99px;
  height: 19.96px;
}

.headline .action .fa-chevron-down {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  padding: 15px;
}

/* work section */
#work {
  position: relative;
  border: 1px solid white;
}
#work .work-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  text-transform: capitalize;
  width: 327px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(#36b37e, #36b37e);
  background-size: 48px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 24px;
}
#work .work-container {
  margin-top: 200px;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 327px;
  grid-template-rows: 474px 474px 474px 474px 474px 474px;
  justify-content: center;
}
#work .work-container .work-card {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
}

.work-card .work-img {
  height: 252px;
  width: 325px;
}

.work-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}

.project-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.text .tag {
  width: 100%;
  margin: 20px 0;
}

.text .tag li {
  float: left;
  margin-right: 3px;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

button {
  float: left;
  margin-right: 3px;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
}

/* about section */
#about {
  background-image: url(photo/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

#about .about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 333px;
  margin: 60px 0;
  padding: 0 25px;
  background-image: url(photo/illustration-\ about\ me-\ mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#about .about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

#about .about-me button {
  width: 159px;
}

#about .about-container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 327px;
  grid-template-rows: 352px 352px 352px;
  justify-content: center;
}

.about-container .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #c1c7d0;
  background: #ebf0ee;
  border-radius: 8px;
}

.about-card .about-img {
  width: 120px;
  height: 120px;
}

.about-card .project-title {
  color: #344563;
}

.about-card .about-tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 285px;
}

.about-card .frameworks {
  width: 280px;
}

.about-card .skills {
  width: 313px;
}

.about-card .about-tag li {
  list-style: none;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  color: #36b37e;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

/* form-session */
#form-session {
  background-image: url(photo/illustration-contact-form.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 150px;
}
#form-session .supporting-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  padding: 60px 45px;
}
#form-session #form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form input {
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid #D0D9D4;
  width: 100%;
  height: 48px;
}
#form input::placeholder, textarea::placeholder {
  padding-left: 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
#form textarea {
  width: 100%;
  height: 114px;
  border: 1px solid #60C095;
  margin-bottom: 24px;
}
#form textarea::placeholder {
  padding: 12px 0px 0px 16px;
  color: #091E42;
}
#frame1, #frame2 {
  display: none;
}
footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .toolbar {
    padding: 26px 610px;
  }
  .toolbar h1,nav {
    display: none;
  }
  .toolbar .nav-item {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #344563;
  }
  .headline {
    background-image: url(photo/Header-llustration-desktop@2x.png);
    background-size: contain;
    width: 100%;
    height: 1434.3px;
    transform: translateY(-233px);
    padding: 410px 375px 610px 375px;
    gap: 24px;
    justify-content: space-evenly;
  }
  .headline .primary h1,p {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
  }
  .headline .supporting-text {
    line-height: 32px;
  }
  .headline .action .fa-chevron-down {
    margin-top: 50px;
  }
  #work {
    margin-top: -200px;
  }
  #work .work-title {
    width: 447px;
    background-image: none;
  }
  #work .work-container {
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 474px 474px;
    gap: 24px;
    margin-top: 100px;
  }
  .work-card .work-img {
    width: 369px;
  }
  #about {
    margin-top: 200px;
    background-image: url(photo/illustration\ about\ me\ desktop.svg);
  }
  #about .about-me {
    background-image: url(photo/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 260px;
    justify-content: space-around;
  }
  #about .about-me .supporting-text {
    width: 810px;
    line-height: 32px;
    color: #42526E;
  }
  #about .about-container {
    grid-template-columns: 369px 369px 369px;
    grid-template-rows: 352px;
    gap: 24px;
  }
  #form-session {
    padding: 80px 180px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    background-image: url(photo/Frame.svg);
  }
  #form-session .supporting-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    padding: 50px 0;
    width: 480px;
  }
  #form-session form {
    width: 670px;
  }
  #form-session #form {
    align-items: flex-start;
  }
  #form li input {
    width: 670px;
  }
  #form li textarea {
    width: 670px;
  }
  #form li textarea::placeholder {
    color: #091E42;
  }
  #frame1 {
    display: block;
    position: absolute;
    width: 236px;
    height: 261.09px;
    top: 3752px;
  }    
  #frame2 {
    display: block;
    position: absolute;
    width: 130.28px;
    height: 105.85px;
    left: 330px;
    top: 3872px;
  }
  footer {
    margin-top: 80px;
    display: block;
  }
  footer .social-media-icon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    border-top: 1px solid #DFE1E6;
    padding: 25px 0px;
  }
  footer .social-media-icon li {
    list-style: none;
    margin-right: 18px;
  }
}